h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

em {
    font-style: italic;
}

strong {
    font-weight: bolder;
}

hr {
    border: none;
    border-bottom: black solid 2px;
}